body {
	padding: 20px;
	font-size: 1.2em;
	max-width: 100%;
}
.large-img{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.small-img{
	width: 100%;
	height: 300px;
	/*float: right;*/
	margin: 0px;
	padding: 0px;
}